/*Set box-sizing to border-box*/
*, *::before, *::after {box-sizing: inherit; }

html {
	box-sizing: border-box;
}

h1 {
	padding: 0;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: .75fr 3fr 1fr;
	width: 100vw;
	height: 100vh;
	grid-template-rows: 18fr 82fr;
}

/*********************Left-sidebar*************************/
.left-sidebar-container {
	grid-row: span 2;
	background-color: #1596f1;
	color: white;
	display: grid;
}

.dashboard {
	display: grid;
	grid-template-columns: 1fr 5.25fr;
	margin-bottom: 3rem;
	margin-top: 1.5rem;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
}

.toplist {
	grid-template-rows: repeat(6, 1fr);
	margin-bottom: 3rem;
}

.bottomlist {
	grid-template-rows: repeat(3, 1fr);
}

h1 {
	padding: 0;
	margin: 0;
}

.fa-box {
	display: inline-block;
	font-size: 2.25rem;
}

.menu {
	padding: 1rem;
}


li {
	font-size: 1.25rem;
	align-items: end;
	margin-bottom: 1.5rem;
	font-weight: 900;
}

i {
	margin-bottom: 1.5rem;
	font-weight: 900;
}


/*********************Head of Page (Top)*************************/
.head-container {
	grid-column: 2 / 4;
	display: grid;
	margin-top: 1.5rem;
}

.head-top {
	display: flex;
	align-content: center;
	align-items: center;
}

#query {
	flex-grow: 1;
	background-color: rgb(234, 231, 228);
	border-radius: 1.5rem;
	height: 2rem;
}



.fa-magnifying-glass, .fa-bell {
	margin: 0;
	padding: .50rem;
}

.fa-magnifying-glass {
	margin-left: 3rem;
	margin-right: 1rem;
}

.fa-bell {
	margin-left: 10rem;
	margin-right: 1rem;
}

.notification, .searchglass {
	background-color: white;
	justify-self: center;
	border: none;
	font-size: 1.5rem;
}

.nametag {
	font-weight: 900;
	font-size: 1.5rem;
	margin-right: 9rem;
}

.coffelogomini {
	margin-right: 1.5rem;
}

/*********************Head of Page (Bottom)*************************/
.head-bottom {
	display: flex;
}

.head-bottom > div {
	display: flex;
	flex-grow: 1;
}

.container-buttons > div {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.container-buttons > div > button {
	background-color: #1596f1;
	color: white;
	border-radius: 1.25rem;
	padding: .5rem 1.75rem;
	border: none;
}

.container-buttons {
	display: flex;
	align-items: center;
	margin-left: 10rem;
}

.button-holder {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}

.greet-container {
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
}

div > p {
	font-weight: 800;
}

.greeting {
	margin-bottom: .10rem;
}

.username {
	margin-top: .10rem;
	font-size: 1.5rem;
}

.share-button {
margin-right: 8.5rem;
}

.upload-button {
	margin-right: 1.25rem;
}

.new-button {
	margin-right: 1.25rem;
}

.coffelogolarge {
	margin-left: 3.5rem;
}





/*********************Body of Page************************/
.body-container {
	background-color: rgb(234, 231, 228);
}




/*********************Right-Sidebar************************/
.right-sidebar-container {
	background-color: rgb(234, 231, 228);
}